<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>Fetch - Find Your Dogs Match</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!--Import jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--Import public directory-->
    <link rel="stylesheet" type="text/css" href="/Fetch-Project-2/public/css/style.css" />
    <script src="/Fetch-Project-2/public/js/script.js"></script>

</head>

<body>

    {{{ body }}}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
<!-- Hello Team Magma -->

</html>